:root {
  --border-pacman: 25px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 50%;
  margin: auto;
  text-align: center;
  color: #fff;
}

.stick {
  background-color: #a5a5a5;
  border-radius: 10px;
  height: 5px;
}

.penduluns {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin-top: -4px;
}

.pendulum {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pendulum__rope {
  background-color: #a5a5a5;
  width: 1px;
  height: 60%;
}

.pendulum__ball {
  width: 50px;
}

.ghost {
  border-radius: inherit;
  position: relative;
  background-color: red;
  border-radius: 50% 50% 0 0;
  margin-left: 2px;
}

.ghost__head {
  padding: 6px;
  position: relative;
  display: flex;
  justify-content: center;
}

.head__eye {
  margin: auto;
  background-color: #fff;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
}

.head__eye::before {
  content: "";
  background-color: blue;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin: auto;
}

.legs::after,
.legs::before {
  content: "";
  border: 12.5px solid red;
  border-bottom: 12.5px solid transparent;
  border-top: 0;
  display: block;
  float: left;
  height: 30%;
}

.pac-man {
  background-color: inherit;
  width: 0px;
  height: 0px;
  border: var(--border-pacman) solid #f9bf3b;
  border-radius: var(--border-pacman);
}

.pendulum:first-child .pendulum__ball {
  border-right: var(--border-pacman) solid transparent;
}

.pendulum:last-child .pendulum__ball {
  border-left: var(--border-pacman) solid transparent;
}

/*Animations*/
@keyframes pendulum-moviment__first {
  from {
    transform: rotate(45deg);
    transform-origin: top;
  }
}

@keyframes pendulum-moviment__last {
  from {
    transform: rotate(-45deg);
    transform-origin: top;
  }
}

@keyframes ghost__eye {
  10% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.pendulum:first-child {
  -webkit-animation: pendulum-moviment__first 1s alternate infinite ease-in-out;
  animation: pendulum-moviment__first 1s alternate infinite ease-in-out;
}

.pendulum:last-child {
  -webkit-animation: pendulum-moviment__last 1s alternate-reverse infinite
    ease-in-out;
  animation: pendulum-moviment__last 1s alternate-reverse infinite ease-in-out;
}

.head__eye::before {
  -webkit-animation: ghost__eye 2s infinite ease-in-out;
  animation: ghost__eye 2s infinite ease-in-out;
}
